extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	.date
		.date__wrapper
			a.date__item.date__item--active.anchor(id='menu-1995') 1995 <br> - <br> 2000
			a.date__item.anchor(id='menu-2000' style='opacity: 0.7') 2000 <br> - <br> 2005
			a.date__item.anchor(id='menu-2005' style='opacity: 0.5') 2005 <br> - <br> 2010
			a.date__item.anchor(id='menu-2010' style='opacity: 0.3') 2010 <br> - <br> 2015
			a.date__item.anchor(id='menu-2015' style='opacity: 0.15') 2015 <br> - <br> 2020
	.first-screen
		a.first-screen__contest.anchor(href='#contest')
			p Конкурс
			p получи промокод на покупку нового гаджета за 1 рубль!
		.first-screen__bg
			video(autoplay loop muted playsinline)
				source(src='images/bg-first.webm' type='video/webm')
				source(src='images/bg-first.mp4' type='video/mp4')
		.container.first-screen__container
			.first-screen__block
				a.first-screen__logo(href='https://www.svyaznoy.ru/' target='_blank') Связной
				.first-screen__title
					p На связи четверть века!
					p Пейджеры и цифровые радиотелефоны, поездки на радиорынок и «не звони мне с городского на мобильный!». Как изменился мир сотовой связи и культура покупок в этой области, вспоминаем вместе с компанией «Связной», отмечающей в этом году 25-летний юбилей.
			.first-screen__socials поделиться с друзьями
				.first-screen__socials-flex(data-title="Заголовок share" data-image="" data-url="https://karcher.maximonline.ru/share/")
					a.first-screen__socials-item.vk(href='javascript:;' data-id="share_vk" data-mode="nohash")
						svg
							use(xlink:href='./svg/sprite.svg#vk')
					a.first-screen__socials-item.fb(href='javascript:;' data-id="share_fb" data-mode="nohash")
						svg
							use(xlink:href='./svg/sprite.svg#fb')
					a.first-screen__socials-item.tw(href='javascript:;' data-id="share_tw" data-mode="nohash")
						svg
							use(xlink:href='./svg/sprite.svg#tw')
					a.first-screen__socials-item.ok(href='javascript:;' data-id="share_ok" data-mode="nohash")
						svg
							use(xlink:href='./svg/sprite.svg#ok')
		a.first-screen__anchor.anchor(href='#timeline')
			svg
				use(xlink:href='./svg/sprite.svg#anchor')

	#timeline.timeline
		.timeline__pink
		.timeline__purple
		.container.timeline__container
			.timeline__title
				p Таймлайн
				p Даёшь пятилетку досрочно, - это на самом деле не про советское народное хозяйство, а про технику и технологии, которые развивались в последние десятилетия космическими темпами. Пять самых ярких, технологичных и революционных пятилеток в области сотовой связи, - в интерактивном таймлайне, подготовленном совместно с компанией «Связной».
			a.timeline__pic.anchor(href='#contest')
				img(src='images/pager.png' alt='')

	.chronology.dark(data-time='1995')
		.chronology__outer
			.container.chronology__container
				.chronology__year 1995<span>-2000</span>
				.chronology-item
					.chronology-item__flex
						.chronology-item__col
							.chronology-item__pic
								video(autoplay loop muted playsinline)
									source(src='images/chronology/item-1.webm' type='video/webm')
									source(src='images/chronology/item-1.mp4' type='video/mp4')
						.chronology-item__col
							.chronology-item__content
								.chronology-item__year 1995 год
								.chronology-item__title Недолгая слава пейджеров
								.chronology-item__text Мобильная связь во второй половине 90-х существовала в двух форматах: в виде мобильников-кирпичей весом до полукилограмма и в форме небольших поясных устройств — пейджеров. С практической точки зрения последние были особенно бестолковы: доставка сообщения зависела от множества факторов, и гарантий, что вас в итоге прочитают, никто не давал. Тем не менее пейджеры были признаком финансовой состоятельности и пищей для ума тогдашних музыкантов. Песенка Жуков про «Скинь мене на пейджер, мол, так и так» звучала в те годы из каждого утюга.
				.chronology-item.chronology-item--reverse
					.chronology-item__flex
						.chronology-item__col
							.chronology-item__pic.chronology-item__pic--color
								video(autoplay loop muted playsinline)
									source(src='images/chronology/item-2.webm' type='video/webm')
									source(src='images/chronology/item-2.mp4' type='video/mp4')
						.chronology-item__col
							.chronology-item__content
								.chronology-item__year 1995 год
								.chronology-item__title Основана компания «Максус»
								.chronology-item__text Основана компания «Максус», основным видом деятельности которой являются оптовые поставки телефонов и персональной аудиотехники в Москве. Местом основной дислокации «Максуса» становится «Горбушка». Именно сюда со всей Москвы едут любители телефонных новинок — главным образом цифровых радиотелефонов стандарта DECT. Именно ради них компания подписывает дистрибьюторское соглашение с Siemens, и так удачно, что завоевывает половину российского рынка этих моделей.

	.chronology.chronology--type.chronology--2005(data-time='2000')
		.chronology__outer
			a.chronology__contest-pic.anchor(href='#contest')
				img(src='images/phone.png' alt='')
			.chronology__pink
			.chronology__purple
			.container.chronology__container
				.chronology__year 2000<span>-2005</span>
				.chronology-item
					.chronology-item__flex
						.chronology-item__col
							.chronology-item__pic.chronology-item__pic--color
								video(autoplay loop muted playsinline)
									source(src='images/chronology/item-3.webm' type='video/webm')
									source(src='images/chronology/item-3.mp4' type='video/mp4')
						.chronology-item__col
							.chronology-item__content
								.chronology-item__year 2002 год
								.chronology-item__title Первые <br> мобильные
								.chronology-item__text <span>В 2002 году мобильные телефоны впервые становятся популярнее стационарных, благодаря «Связному», </span> на российский рынок приходят ключевые бренды сотовой связи, однако активное пользование мобильной связью все еще остается привилегией обеспеченных людей. При средней зарплате в России 80 долларов за одно только подключение к мобильному номеру приходится выкладывать от 50 долларов. Средняя минута разговора стоит 15 центов. Верх бессознательности — позвонить на мобильный с городского телефона и обнулить счет владельца сотового телефона: плату за входящие вызовы законодательно отменят только в 2006 году.
				.chronology-item.chronology-item--reverse
					.chronology-item__flex
						.chronology-item__col
							.chronology-item__pic.chronology-item__pic--color
								video(autoplay loop muted playsinline)
									source(src='images/chronology/item-4.webm' type='video/webm')
									source(src='images/chronology/item-4.mp4' type='video/mp4')
						.chronology-item__col
							.chronology-item__content
								.chronology-item__year 2002 год
								.chronology-item__title Первые прямые контракты
								.chronology-item__text <span>Компания «Связной» подписывает первые прямые контракты с ведущими производителями персональной аудиотехники и средств связи, </span> такими как Siemens, Motorola, Philips и Ericsson. Летом 2002 года открывается интернет-магазин «Связной», который становится одним из первых интернет-магазинов в мобильном ретейле России.

	.chronology.chronology--2010.dark(data-time='2005')
		.chronology__outer
			a.chronology__contest-pic.anchor(href='#contest')
				img(src='images/phone-2.png' alt='')
			.container.chronology__container
				.chronology__year 2005<span>-2010</span>
				.chronology-item
					.chronology-item__flex
						.chronology-item__col
							.chronology-item__pic
								video(autoplay loop muted playsinline)
									source(src='images/chronology/item-5.webm' type='video/webm')
									source(src='images/chronology/item-5.mp4' type='video/mp4')
						.chronology-item__col
							.chronology-item__content
								.chronology-item__year 2005 год
								.chronology-item__title Мобильный интернет
								.chronology-item__text К концу этой пятилетки в России происходят два ключевых события. Окончательно отключается оборудование советской марки «Алтай», десятилетиями отвечавшее за советскую «мобильную связь» — стационарную телефонию в автомобилях чиновников и силовиков. И почти одновременно с этим происходит запуск телефонии третьего поколения — 3G, благодаря которой жители России знакомятся (пока еще робко) с мобильным интернетом. <span>Одним из первых телефонов с поддержкой новых технологий становится выпущенный в 2005 году Sony Ericsson W900i из серии Walkman: отправиться за его покупкой в «Связной» было самым настоящим событием.</span>
				.chronology-item.chronology-item--reverse
					.chronology-item__flex
						.chronology-item__col
							.chronology-item__pic.chronology-item__pic--color
								video(autoplay loop muted playsinline)
									source(src='images/chronology/item-6.webm' type='video/webm')
									source(src='images/chronology/item-6.mp4' type='video/mp4')
						.chronology-item__col
							.chronology-item__content
								.chronology-item__year 2007 год
								.chronology-item__title Экспансия <br> Связного
								.chronology-item__text <span>«Связной» завершает экспансию в регионы,</span> открывая новые салоны сотовой связи по всей России, от Калининграда до Владивостока. Также «Связной» выходит на иностранный рынок, запуская свои первые магазины в Республике Беларусь.

	.chronology.chronology--type.chronology--2015(data-time='2010')
		.chronology__outer
			a.chronology__contest-pic.anchor(href='#contest')
				img(src='images/phone-3.png' alt='')
			.chronology__pink
			.chronology__purple
			.container.chronology__container
				.chronology__year 2010<span>-2015</span>
				.chronology-item
					.chronology-item__flex
						.chronology-item__col
							.chronology-item__pic.chronology-item__pic--color
								video(autoplay loop muted playsinline)
									source(src='images/chronology/item-7.webm' type='video/webm')
									source(src='images/chronology/item-7.mp4' type='video/mp4')
						.chronology-item__col
							.chronology-item__content
								.chronology-item__year 2011 год
								.chronology-item__title Эра смартфонов
								.chronology-item__text <span>В 2011 году в Новосибирске запускают первую в России LTE-сеть,</span> благодаря которой мобильный интернет сильно дешевеет и ускоряется. А в 2012-м на полках российских магазинов появляются первые флагманы с поддержкой новой технологии. Классическими мобильниками теперь в шутку предлагают «орехи колоть»: население массово переходит на смартфоны, устанавливая на них всевозможные приложения. Одно из главных открытий этой пятилетки —WhatsApp, позволяющий обмениваться сообщениями бесплатно. Растет популярность устройств Apple:  теперь их можно обнаружить не только на полках фирменных магазинов марки, но и в «Связном».
				.chronology-item.chronology-item--reverse
					.chronology-item__flex
						.chronology-item__col
							.chronology-item__pic.chronology-item__pic--color
								video(autoplay loop muted playsinline)
									source(src='images/chronology/item-8.webm' type='video/webm')
									source(src='images/chronology/item-8.mp4' type='video/mp4')
						.chronology-item__col
							.chronology-item__content
								.chronology-item__year 2012 год
								.chronology-item__title Прямой договор <br> с Apple
								.chronology-item__text <span>«Связной» заключил прямой договор поставки с Apple,</span> став единственным независимым ретейлером, имеющим подобный контракт. Подогревая интерес пользователей к мобильным приложениям, компания выпускает мобильное приложение «Связной тревел» и запускает первый в России квест в Telegram.

	.chronology.chronology--2020.dark(data-time='2015')
		.chronology__outer
			a.chronology__contest-pic.anchor(href='#contest')
				img(src='images/phone-4.png' alt='')
			.container.chronology__container
				.chronology__year 2015<span>-2020</span>
				.chronology-item
					.chronology-item__flex
						.chronology-item__col
							.chronology-item__pic
								video(autoplay loop muted playsinline)
									source(src='images/chronology/item-9.webm' type='video/webm')
									source(src='images/chronology/item-9.mp4' type='video/mp4')
						.chronology-item__col
							.chronology-item__content
								.chronology-item__year 2015 год
								.chronology-item__title Эпоха <br> мобильного интернета
								.chronology-item__text <span>Россия первой в мире начинает официальную продажу смартфонов Xiaomi,</span> которые к тому моменту уже сумели завоевать сердца миллионов жителей планеты. Население страны делится на iOS и Android: для одних по-прежнему важно обзаводиться последними моделями Apple, а другие довольствуются доступным китайским вариантом. Но все активно пользуются мобильным интернетом — настолько, что для многих смартфон уже становится альтернативой рабочему ноутбуку или компьютеру. Все ждут наступление эры 5G. По прогнозам, осталось каких-то пару лет.
				.chronology-item.chronology-item--reverse
					.chronology-item__flex
						.chronology-item__col
							a.chronology-item__pic.chronology-item__pic--color(href='https://www.svyaznoy.ru/' target='_blank')
								video(autoplay loop muted playsinline)
									source(src='images/chronology/item-10.webm' type='video/webm')
									source(src='images/chronology/item-10.mp4' type='video/mp4')
						.chronology-item__col
							.chronology-item__content
								.chronology-item__year 2020 год
								.chronology-item__title Точка встречи клиентов и технологий
								.chronology-item__text <span>«Связной» первым в нашей стране начинает продажи смартфонов Xiaomi,</span> создает первый в России рекламный ролик Apple и развивает монобрендовую сеть Сstore: магазины, в которых представлена вся техника Apple, доступная в нашей стране, открываются в 22 городах. «Связной» первый среди ретейлеров начинает продажи автомобилей Tesla, а еще через год становится первой сетью в России, где появляются «Яндекс.Станция», а также устройства «умный дом» от «Яндекса» — умная лампочка, умная розетка, умный пульт. В том же году «Связной» запускает новый формат магазинов с техникой для умного дома «Связной Plus». В 2020 году «Связной» для всех своих покупателей запускает доставку товаров из своего интернет-магазина svyaznoy.ru с помощью курьеров Delivery Club и водителей «Ситимобил» за время, которое не отличается от обычного времени доставки блюд из ресторанов.

	#contest.contest
		.contest__purple 2020 (с) HSMedia
		.contest__pink
		.contest__yellow
		.contest__outer
			.container.contest__container
				.contest__flex
					.contest__col
						.contest__best.contest__best--mob
							.contest__best-digit 20
							.contest__best-text 20 лучших историй получат приз <br> от компании «Связной» <br> - промокоды на покупку товара в Связном <br> за 1 рубль.
						.contest__title Конкурс
						.contest__text Расскажи о первом телефоне и получи <br> беспроводную зарядку за 1 рубль!
						.contest__flex-bottom
							.contest__auth авторизуйтесь через соц. сети
								.contest__auth-flex(data-title="Связной" data-image="" data-url="https://karcher.maximonline.ru/share/7/")
									a.contest__auth-item.vk(href='javascript:;' data-id="share_vk" data-auth="vk")
										svg
											use(xlink:href='./svg/sprite.svg#vk')
									a.contest__auth-item.fb(href='javascript:;' data-id="share_fb" data-auth="fb")
										svg
											use(xlink:href='./svg/sprite.svg#fb')
									a.contest__auth-item.tw(href='javascript:;' data-id="share_tw" data-auth="tw")
										svg
											use(xlink:href='./svg/sprite.svg#tw')
									a.contest__auth-item.ok(href='javascript:;' data-id="share_ok" data-auth="ok")
										svg
											use(xlink:href='./svg/sprite.svg#ok')

									div.authloader
								.contest__sign-in или пройдите <a data-fancybox href="#sign-up">регистрацию</a>
							.contest__gifts(style='display: none;') вы можете выиграть:
								.contest__gifts-row
									.contest__gift-item
										.contest__gift-pic
											img(src='images/gift/item-1.jpg' alt='')
										.contest__gift-name Браслет Honor Band 5
									.contest__gift-item
										.contest__gift-pic
											img(src='images/gift/item-2.jpg' alt='')
										.contest__gift-name Беспроводная зарядка Honor Wireless charger AP61
									.contest__gift-item
										.contest__gift-pic
											img(src='images/gift/item-3.jpg' alt='')
										.contest__gift-name Наушники Honor AM115
							.contest__best
								.contest__best-digit 20
								.contest__best-text 20 лучших историй получат приз <br> от компании «Связной» <br> - промокоды на покупку товара в Связном <br> за 1 рубль.
					.contest__col
						form.contest__form(method='POST')
							.contest__textarea
								textarea(name='story' placeholder='начните писать свою историю тут')
							input(type='submit' value='Отправить')
